@mixin mediaQuery($val,$min,$max) {
  @if $val == max {
    @media print, screen and (max-width: $max + px) {
      @content;
    }
  }
  @else if $val == min {
    @media print, screen and (min-width: $min + px) {
      @content;
    }
  }
  @else if $val == both {
    @media print, screen and (min-width: $min + px) and (max-width: $max + px){
      @content;
    }
  }
}



@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}



@mixin font-size($size, $base: 10) {
  font:{
    size: $size + px;
    size: ($size / $base) * 1rem;
  }
}



@mixin font-family-ja {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}



@mixin font-family-en {
  font-family: 'Lato', sans-serif;
}
