/* =============================================================== */
/* .st-Container */
/* =============================================================== */
.st-Container {
  overflow: hidden;
}



/* =============================================================== */
/* .st-Header */
/* =============================================================== */
.st-Header {
  position: relative;
  z-index: 2;
  &_Logo {
    display: block;
    position: fixed;
    left: 0;
    @include mediaQuery(min, 1024, 0){
      width: 200px;
      top: 32px;
    }
    @include mediaQuery(max, 0, 1023){
      width: (328 / 768) * 100vw;
      top: (40 / 768) * 100vw;
    }
  }
  &_Button {
    display: block;
    color: $color-white;
    background-color: $color-blue;
    box-sizing: border-box;
    @include font-family-en;
    line-height: 1;
    letter-spacing: 0.0625em;
    text-align: left;
    position: fixed;
    right: 0;
    z-index: 1;
    transition: .4s $animation-transition;
    @include mediaQuery(min, 1024, 0){
      padding: 12px 0 12px 14px;
      width: 120px;
      border-radius: 4px 0 0 4px;
      font-size: 14px;
      top: 32px;
    }
    @include mediaQuery(max, 0, 1023){
      padding: (20 / 768) * 100vw 0 (20 / 768) * 100vw (24 / 768) * 100vw;
      width: (160 / 768) * 100vw;
      border-radius: (8 / 768) * 100vw 0 0 (8 / 768) * 100vw;
      font-size: (28 / 768) * 100vw;
      top: (40 / 768) * 100vw;
    }
    &-Hidden {
      @include mediaQuery(min, 1024, 0){
        transform: translateX(120px);
      }
      @include mediaQuery(max, 0, 1023){
        transform: translateX((200 / 768) * 100vw);
      }
    }
  }
  &_Nav {
    position: fixed;
    z-index: 2;
    transition: .4s $animation-transition;
    @include mediaQuery(min, 1024, 0){
      top: 32px;
      right: -40px;
    }
    @include mediaQuery(max, 0, 1023){
      top: (40 / 768) * 100vw;
      right: -(48 / 768) * 100vw;
    }
    &-Hidden {
      @include mediaQuery(min, 1024, 0){
        transform: translateX(140px);
      }
      @include mediaQuery(max, 0, 1023){
        transform: translateX((320 / 768) * 100vw);
      }
    }
    &_List {
      &_Item {
        .Item-Anchor {
          display: block;
          color: $color-white;
          background-color: $color-blue;
          box-sizing: border-box;
          @include font-family-en;
          letter-spacing: 0.0625em;
          line-height: 1;
          text-decoration: none;
          transition: .4s $animation-transition;
          @include mediaQuery(min, 1024, 0){
            padding: 12px 0 12px 14px;
            width: 160px;
            border-radius: 4px 0 0 4px;
            font-size: 14px;
          }
          @include mediaQuery(max, 0, 1023){
            padding: (20 / 768) * 100vw 0 (20 / 768) * 100vw (24 / 768) * 100vw;
            width: (280 / 768) * 100vw;
            border-radius: (8 / 768) * 100vw 0 0 (8 / 768) * 100vw;
            font-size: (28 / 768) * 100vw;
            text-align: left;
          }
          &:hover {
            @include mediaQuery(min, 1024, 0){
              transform: translateX(-20px);
            }
          }
        }
        &-Current .Item-Anchor {
          background-color: darken($color-blue, 8%);
        }
        &-Close .Item-Anchor {
          background-color: $color-gray;
        }
      }
      &_Item + &_Item {
        @include mediaQuery(min, 1024, 0){
          margin: 12px 0 0 0;
        }
        @include mediaQuery(max, 0, 1023){
          margin: (24 / 768) * 100vw 0 0 0;
        }
      }
      &_Item:nth-child(2) {
        @include mediaQuery(min, 1024, 0){
          margin: 0;
        }
      }
    }
  }
}




/* =============================================================== */
/* .st-Footer */
/* =============================================================== */
.st-Footer {
  background-color: $color-gray;
  clear: both;
  position: relative;
  z-index: 1;
  @include mediaQuery(min, 1024, 0){
    margin: 160px 0 0 0;
  }
  @include mediaQuery(max, 0, 1023){
    margin: (136 / 768) * 100vw 0 0 0;
  }
  &_Box {
    margin: 0 auto;
    @include mediaQuery(min, 1024, 0){
      padding: 40px 0;
      width: 1000px;
    }
    @include mediaQuery(max, 0, 1023){
      padding: (72 / 768) * 100vw 0;
      width: 100%;
    }
    &_Copy {
      color: $color-white;
      @include font-family-en;
      letter-spacing: 0.0625em;
      text-align: center;
      @include mediaQuery(min, 1024, 0){
        font-size: 12px;
      }
      @include mediaQuery(max, 0, 1023){
        font-size: (24 / 768) * 100vw;
      }
    }
  }
}



/* =============================================================== */
/* .st-Posts */
/* =============================================================== */
.st-Posts {
  margin: 0 auto;
  @include mediaQuery(min, 1024, 0){
    width: 1000px;
  }
  @include mediaQuery(max, 0, 1023){
    margin: (64 / 768) * 100vw 0 0 0;
    width: 100%;
  }
  &-Index {
    @include mediaQuery(max, 0, 1023){
      overflow-y: hidden;
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
    .st-Posts_List_Item {
      @include mediaQuery(max, 0, 1023){
        margin: 0 0 0 (24 / 768) * 100vw;
        display: inline-block;
        vertical-align: top;
      }
      &:first-child {
        @include mediaQuery(max, 0, 1023){
          margin: 0 0 0 (48 / 768) * 100vw;
        }
      }
      &:last-child {
        @include mediaQuery(max, 0, 1023){
          margin: 0 (48 / 768) * 100vw 0 (24 / 768) * 100vw;
        }
      }
    }
  }
  &-News {
    .st-Posts_List_Item {
      @include mediaQuery(max, 0, 1023){
        margin: 0 auto;
      }
    }
    .st-Posts_List_Item + .st-Posts_List_Item {
      @include mediaQuery(max, 0, 1023){
        margin: (40 / 768) * 100vw auto 0;
      }
    }
  }
  &_List {
    font-size: 0;
    @include mediaQuery(min, 1024, 0){
      margin: 36px 0 0 0;
    }
    @include mediaQuery(max, 0, 1023){
      width: 100%;
    }
    &_Item {
      @include mediaQuery(min, 1024, 0){
        margin: 44px 0 0 0;
        width: 304px;
        display: inline-block;
        vertical-align: top;
        font-size: 12px;
      }
      @include mediaQuery(max, 0, 1023){
        width: (672 / 768) * 100vw;
        font-size: (28 / 768) * 100vw;
      }
      &:nth-child(3n+2), &:nth-child(3n+3) {
        @include mediaQuery(min, 1024, 0){
          margin: 44px 0 0 44px;
        }
      }
      .Item-Anchor {
        display: block;
        text-decoration: none;
        position: relative;
        &:hover .Item_Thumbnail::before {
          @include mediaQuery(min, 1024, 0){
            border: 4px solid $color-gray;
          }
        }
        &:hover .Item_Thumbnail img {
          @include mediaQuery(min, 1024, 0){
            transform: scale(1.125);
          }
        }
        &:hover .Item_Title {
          @include mediaQuery(min, 1024, 0){
            text-decoration: underline;
          }
        }
      }
      .Item_Date {
        display: inline-block;
        color: $color-gray;
        background-color: $color-white;
        @include font-family-en;
        letter-spacing: 0.0625em;
        position: absolute;
        z-index: 2;
        @include mediaQuery(min, 1024, 0){
          padding: 4px 8px;
          border-radius: 4px;
          font-size: 12px;
          top: 12px;
          left: 12px;
        }
        @include mediaQuery(max, 0, 1023){
          padding: (4 / 768) * 100vw (8 / 768) * 100vw;
          border-radius: (4 / 768) * 100vw;
          font-size: (28 / 768) * 100vw;
          top: (24 / 768) * 100vw;
          left: (24 / 768) * 100vw;
        }
      }
      .Item_Thumbnail {
        background-color: $color-gray;
        overflow: hidden;
        position: relative;
        z-index: 1;
        @include mediaQuery(min, 1024, 0){
          width: 304px;
          height: 171px;
          border-radius: 4px;
        }
        @include mediaQuery(max, 0, 1023){
          width: 100%;
          height: (378 / 768) * 100vw;
          border-radius: (8 / 768) * 100vw;
        }
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          border: 2px solid $color-gray;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          @include mediaQuery(min, 1024, 0){
            border-radius: 4px;
            transition: .4s $animation-transition;
          }
          @include mediaQuery(max, 0, 1023){
            border-radius: (8 / 768) * 100vw;
          }
        }
        img {
          position: relative;
          z-index: 1;
          @include mediaQuery(min, 1024, 0){
            border-radius: 4px;
            transition: .4s $animation-transition;
          }
          @include mediaQuery(max, 0, 1023){
            border-radius: (8 / 768) * 100vw;
          }
        }
      }
      .Item_Title {
        color: $color-gray;
        letter-spacing: 0.05em;
        line-height: 1.6;
        @include mediaQuery(min, 1024, 0){
          margin: 8px 0 0 0;
          font-size: 12px;
        }
        @include mediaQuery(max, 0, 1023){
          margin: (20 / 768) * 100vw 0 0 0;
          padding: 0 0 (32 / 768) * 100vw 0;
          font-size: (28 / 768) * 100vw;
          white-space: normal;
        }
      }
    }
  }
}



/* =============================================================== */
/* .st-Works */
/* =============================================================== */
.st-Works {
  margin: 0 auto;
  width: 1000px;
  @include mediaQuery(min, 1024, 0){
    margin: 80px 0 0 0;
    width: 1000px;
  }
  @include mediaQuery(max, 0, 1023){
    margin: (64 / 768) * 100vw 0 0 0;
    width: 100%;
  }
  &-Index {
    @include mediaQuery(max, 0, 1023){
      overflow-y: hidden;
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
    .st-Works_List_Item {
      @include mediaQuery(max, 0, 1023){
        margin: 0 0 0 (24 / 768) * 100vw;
        display: inline-block;
        vertical-align: top;
      }
      &:first-child {
        @include mediaQuery(max, 0, 1023){
          margin: 0 0 0 (48 / 768) * 100vw;
        }
      }
      &:last-child {
        @include mediaQuery(max, 0, 1023){
          margin: 0 (48 / 768) * 100vw 0 (24 / 768) * 100vw;
        }
      }
    }
  }
  &-News {
    .st-Works_List_Item {
      @include mediaQuery(max, 0, 1023){
        margin: 0 auto;

      }
    }
    .st-Works_List_Item + .st-Works_List_Item {
      @include mediaQuery(max, 0, 1023){
        margin: (88 / 768) * 100vw auto 0;
      }
    }
  }
  &_List {
    @include mediaQuery(min, 1024, 0){
    }
    @include mediaQuery(max, 0, 1023){
      font-size: 0;
    }
    &_Item {
      @include mediaQuery(max, 0, 1023){
        width: (672 / 768) * 100vw;
        font-size: (28 / 768) * 100vw;
      }
      .Item-Anchor {
        display: block;
        position: relative;
        @include mediaQuery(min, 1024, 0){
          width: 1000px;
          height: 360px;
        }
        @include mediaQuery(max, 0, 1023){
          width: (672 / 768) * 100vw;
          // height: (600 / 768) * 100vw;
        }
        &:hover .Item_Thumbnail::before {
          @include mediaQuery(min, 1024, 0){
            border: 4px solid $color-gray;
          }
        }
        &:hover .Item_Thumbnail img {
          @include mediaQuery(min, 1024, 0){
            transform: scale(1.125);
          }
        }
        &:hover .Item_Description_Box_Text {
          @include mediaQuery(min, 1024, 0){
            text-decoration: underline;
          }
        }
      }
      .Item_Thumbnail {
        display: block;
        background-color: $color-gray;
        overflow: hidden;
        z-index: 2;
        @include mediaQuery(min, 1024, 0){
          width: 480px;
          height: 270px;
          border-radius: 4px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        @include mediaQuery(max, 0, 1023){
          margin: 0 auto;
          width: (576 / 768) * 100vw;
          height: (324 / 768) * 100vw;
          border-radius: (8 / 768) * 100vw;
          position: relative;
        }
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          border: 2px solid $color-gray;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          @include mediaQuery(min, 1024, 0){
            border-radius: 4px;
            transition: .4s $animation-transition;
          }
          @include mediaQuery(max, 0, 1023){
            border-radius: (8 / 768) * 100vw;
          }
        }
        img {
          position: relative;
          z-index: 1;
          @include mediaQuery(min, 1024, 0){
            border-radius: 4px;
            transition: .4s $animation-transition;
          }
          @include mediaQuery(max, 0, 1023){
            border-radius: (8 / 768) * 100vw;
          }
        }
      }
      .Item_Description {
        box-sizing: border-box;
        border: 2px solid $color-blue;
        z-index: 1;
        @include mediaQuery(min, 1024, 0){
          width: 640px;
          height: 360px;
          border-radius: 4px;
          position: absolute;
          top: 0;
        }
        @include mediaQuery(max, 0, 1023){
          margin: ((96 / 768) * 100vw) * -1 0 (40 / 768) * 100vw 0;
          padding: (120 / 768) * 100vw (48 / 768) * 100vw (52 / 768) * 100vw;
          width: (672 / 768) * 100vw;
          border-radius: (8 / 768) * 100vw;
          position: relative;
        }
        &_Box {
          @include mediaQuery(min, 1024, 0){
            width: 440px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
          @include mediaQuery(max, 0, 1023){
          }
          &_Title {
            color: $color-gray;
            @include font-family-en;
            @include mediaQuery(min, 1024, 0){
              margin: 0 0 32px 0;
              font-size: 32px;
            }
            @include mediaQuery(max, 0, 1023){
              font-size: (56 / 768) * 100vw;
              text-align: center;
            }
          }
          &_Text {
            color: $color-gray;
            letter-spacing: 0.05em;
            line-height: 1.6;
            @include mediaQuery(min, 1024, 0){
              font-size: 12px;
            }
            @include mediaQuery(max, 0, 1023){
              margin: (32 / 768) * 100vw 0 0 0;
              font-size: (28 / 768) * 100vw;
              white-space: normal
            }
          }
        }
      }
      &-Left {
        .Item_Thumbnail {
          @include mediaQuery(min, 1024, 0){
            left: 0;
          }
        }
        .Item_Description {
          @include mediaQuery(min, 1024, 0){
            padding: 40px 40px 40px 160px;
            right: 0;
          }
        }
      }
      &-Right {
        .Item_Thumbnail {
          @include mediaQuery(min, 1024, 0){
            right: 0;
          }
        }
        .Item_Description {
          @include mediaQuery(min, 1024, 0){
            padding: 40px 160px 40px 40px;
            left: 0;
          }
        }
      }
      & + & {
        @include mediaQuery(min, 1024, 0){
          margin: 120px 0 0 0;
        }
      }
    }
  }
}



/* =============================================================== */
/* .st-Detail */
/* =============================================================== */
.st-Detail {
  position: relative;
  z-index: 1;
  @include mediaQuery(min, 1024, 0){
    padding: 120px 0 0 0;
  }
  @include mediaQuery(max, 0, 1023){
    padding: (256 / 1024) * 100vw 0 0 0;
  }
  &_Box {
    margin: 0 auto;
    @include mediaQuery(min, 1024, 0){
      width: 1000px;
    }
    @include mediaQuery(max, 0, 1023){
      width: 100%;
    }
    &_Content {
      color: $color-gray;
      @include mediaQuery(min, 1024, 0){
        margin: 40px auto 0;
        width: 800px;
      }
      @include mediaQuery(max, 0, 1023){
        margin: (64 / 768) * 100vw auto 0;
        width: (672 / 768) * 100vw;
      }
      .Content_Title {
        font-weight: 500;
        letter-spacing: 0.05em;
        line-height: 1.5;
        @include mediaQuery(min, 1024, 0){
          @include font-size(20);
        }
        @include mediaQuery(max, 0, 1023){
          font-size: (36 / 768) * 100vw;
        }
      }
      .Content_Date {
        @include font-family-en;
        letter-spacing: 0.0625em;
        @include mediaQuery(min, 1024, 0){
          margin: 16px 0 0 0;
          font-size: 12px;
        }
        @include mediaQuery(max, 0, 1023){
          margin: 3.125vw 0 0 0;
          font-size: (28 / 768) * 100vw;
        }
      }
      .Content_Thumbnail {
        overflow: hidden;
        @include mediaQuery(min, 1024, 0){
          margin: 28px 0 0 0;
          border-radius: 4px;
        }
        @include mediaQuery(max, 0, 1023){
          margin: 4.6875vw 0 0 0;
          border-radius: (8 / 768) * 100vw;
        }
      }
      .Content_Link {
        @include mediaQuery(min, 1024, 0){
          margin: 32px 0 0 0;
        }
        @include mediaQuery(max, 0, 1023){
          margin: 4.6875vw auto 0;
        }
        &_List {
          text-align: center;
          @include mediaQuery(min, 1024, 0){
            font-size: 0;
          }
          @include mediaQuery(max, 0, 1023){
          }
          &_Item {
            @include mediaQuery(min, 1024, 0){
              display: inline-block;
              vertical-align: middle;
              width: 384px;
            }
            @include mediaQuery(max, 0, 1023){
              width: (672 / 768) * 100vw;
            }
            &-Github {
              @include mediaQuery(min, 1024, 0){
                margin: 0 0 0 32px;
              }
              @include mediaQuery(max, 0, 1023){
                margin: 4.6875vw 0 0 0;
              }
            }
            .Item_Button {
              display: block;
              color: $color-white;
              background-color: $color-blue;
              letter-spacing: 0.05em;
              line-height: 1;
              text-align: center;
              text-decoration: none;
              @include mediaQuery(min, 1024, 0){
                padding: 20px 0 22px;
                width: 384px;
                border-radius: 4px;
                box-shadow: 0 4px 0 $color-gray;
                font-size: 16px;
                transition: .32s $animation-transition;
              }
              @include mediaQuery(max, 0, 1023){
                padding: (24 / 768) * 100vw 0 (28 / 768) * 100vw;
                width: (672 / 768) * 100vw;
                border-radius: (8 / 768) * 100vw;
                box-shadow: 0 (8 / 768) * 100vw 0 $color-gray;
                font-size: (28 / 768) * 100vw;
              }
              &:hover {
                @include mediaQuery(min, 1024, 0){
                  background-color: darken($color-blue, 8%);
                  box-shadow: none;
                  transform: translateY(4px);
                }
              }
            }
          }
        }
      }
      .Content_Text {
        @include mediaQuery(min, 1024, 0){
          margin: 64px 0 0 0;
        }
        @include mediaQuery(max, 0, 1023){
          margin: 9.375vw 0 0 0;
        }
        h4 {
          color: $color-white;
          background-color: $color-gray;
          letter-spacing: 0.05em;
          @include mediaQuery(min, 1024, 0){
            padding: 12px 16px;
            font-size: 16px;
            line-height: 2;
            border-radius: 4px;
          }
          @include mediaQuery(max, 0, 1023){
            padding: 2.625vw 3.125vw;
            font-size: (28 / 768) * 100vw;
            line-height: 1.85;
            border-radius: (8 / 768) * 100vw;
          }
        }
        h5 + h4, p + h4, .Content_Text_List + h4 {
          @include mediaQuery(min, 1024, 0){
            margin: 52px 0 0 0;
          }
          @include mediaQuery(max, 0, 1023){
            margin: 9.375vw 0 0 0;
          }
        }
        h5 {
          display: inline-block;
          letter-spacing: 0.05em;
          position: relative;
          @include mediaQuery(min, 1024, 0){
            padding: 2px 0 2px 16px;
            font-size: 16px;
            line-height: 2;
          }
          @include mediaQuery(max, 0, 1023){
            padding: 1.0625vw 0 1.0625vw 3.125vw;
            font-size: (28 / 768) * 100vw;
            line-height: 1.85;
          }
          &::before {
            content: "";
            display: block;
            background-color: $color-gray;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            @include mediaQuery(min, 1024, 0){
              width: 4px;
              border-radius: 4px;
            }
            @include mediaQuery(max, 0, 1023){
              width: 2px;
              border-radius: (8 / 768) * 100vw;
            }
          }
        }
        h4 + h5, p + h5 {
          @include mediaQuery(min, 1024, 0){
            margin: 24px 0 0 0;
          }
          @include mediaQuery(max, 0, 1023){
            margin: 4.1875vw 0 0 0;
          }
        }
        p {
          letter-spacing: 0.05em;
          @include mediaQuery(min, 1024, 0){
            font-size: 16px;
            line-height: 2;
          }
          @include mediaQuery(max, 0, 1023){
            font-size: (28 / 768) * 100vw;
            line-height: 1.85;
          }
        }
        h4 + p, h5 + p, p + p {
          @include mediaQuery(min, 1024, 0){
            margin: 16px 0 0 0;
          }
          @include mediaQuery(max, 0, 1023){
            margin: 3.6875vw 0 0 0;
          }
        }
        &_List {
          @include mediaQuery(min, 1024, 0){
            margin: 16px 0 0 0;
          }
          @include mediaQuery(max, 0, 1023){
            margin: 4.1875vw 0 0 0;
          }
          &_Item {
            p {
              padding-left: 1em;
              text-indent: -1em;
            }
          }
        }
      }
      .Content_PrevNext {
        @include clearfix;
        @include mediaQuery(min, 1024, 0){
          margin: 52px 0 0 0;
        }
        @include mediaQuery(max, 0, 1023){
          margin: 9.375vw 0 0 0;
        }
        &_Prev, &_Next {
          display: block;
          color: $color-white;
          background-color: $color-blue;
          letter-spacing: 0.05em;
          line-height: 1;
          text-align: center;
          text-decoration: none;
          @include mediaQuery(min, 1024, 0){
            padding: 14px 0 16px;
            width: 192px;
            border-radius: 4px;
            box-shadow: 0 4px 0 $color-gray;
            font-size: 16px;
            transition: .32s $animation-transition;
          }
          @include mediaQuery(max, 0, 1023){
            padding: (24 / 768) * 100vw 0 (28 / 768) * 100vw;
            width: (312 / 768) * 100vw;
            border-radius: (8 / 768) * 100vw;
            box-shadow: 0 (8 / 768) * 100vw 0 $color-gray;
            font-size: (28 / 768) * 100vw;
          }
          &:hover {
            @include mediaQuery(min, 1024, 0){
              background-color: darken($color-blue, 8%);
              box-shadow: none;
              transform: translateY(4px);
            }
          }
        }
        &_Prev {
          float: left;
        }
        &_Next {
          float: right;
        }
      }
    }
  }
}




/* =============================================================== */
/* .st-Pagenation */
/* =============================================================== */
.st-Pagenation {
  @include mediaQuery(min, 1024, 0){
    margin: 80px 0 0 0;
  }
  &-News {
    @include mediaQuery(max, 0, 1023){
      margin: (48 / 768) * 100vw 0 0 0;
    }
  }
  &-Portfolio {
    @include mediaQuery(max, 0, 1023){
      margin: (80 / 768) * 100vw 0 0 0;
    }
  }
  .wp-pagenavi {
    text-align: center;
    font-size: 0;
    .pages {
      display: none;
    }
    span, a.page {
      display: inline-block;
      vertical-align: middle;
      color: $color-white;
      background-color: $color-blue;
      @include font-family-en;
      letter-spacing: 0.0625em;
      transition: .4s $animation-transition;
      @include mediaQuery(min, 1024, 0){
        width: 40px;
        height: 48px;
        font-size: 12px;
        line-height: 48px;
        border-radius: 4px;
      }
      @include mediaQuery(max, 0, 1023){
        width: (60 / 768) * 100vw;
        height: (60 / 768) * 100vw;
        font-size: (28 / 768) * 100vw;
        line-height: (60 / 768) * 100vw;
        border-radius: (4 / 768) * 100vw;
      }
    }
    a.page:hover {
      background-color: darken($color-blue, 8%);
    }
    span.current {
      background-color: darken($color-blue, 8%);
    }
    a.nextpostslink, a.previouspostslink {
      display: inline-block;
      vertical-align: middle;
      color: $color-white;
      background-color: $color-blue;
      @include font-family-en;
      letter-spacing: 0.0625em;
      transition: .4s $animation-transition;
      @include mediaQuery(min, 1024, 0){
        width: 40px;
        height: 48px;
        font-size: 12px;
        line-height: 48px;
        border-radius: 4px;
      }
      @include mediaQuery(max, 0, 1023){
        width: (60 / 768) * 100vw;
        height: (60 / 768) * 100vw;
        font-size: (28 / 768) * 100vw;
        line-height: (60 / 768) * 100vw;
        border-radius: (4 / 768) * 100vw;
      }
      &:hover {
        @include mediaQuery(min,1024,0){
          background-color: darken($color-blue, 8%);
        }
      }
    }
  }
}
