/* =============================================================== */
/* .sw-Title */
/* =============================================================== */
.sw-Title {
  color: $color-blue;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.04em;
  position: relative;
  position: relative;
  @include mediaQuery(min, 1024, 0){
    font-size: 36px;
    transform: translateX(-40px);
  }
  @include mediaQuery(max, 0, 1023){
    font-size: (56 / 768) * 100vw;
  }
  span {
    display: inline-block;
    position: relative;
    @include mediaQuery(min, 1024, 0){
      padding: 0 24px 0 0;
    }
    @include mediaQuery(max, 0, 1023){
      padding: 0 0 0 (48 / 768) * 100vw;
    }
    &::before {
      @include mediaQuery(max, 0, 1023){
        content: "";
        display: block;
        width: (36 / 768) * 100vw;
        height: (4 / 768) * 100vw;
        background-color: $color-blue;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
}
