@charset "utf-8";

/* =============================================================== */
/* reset */
/* =============================================================== */
@import "./include/reset";

/* =============================================================== */
/* reset */
/* =============================================================== */
@import "./include/mixin";

/* =============================================================== */
/* foundation */
/* =============================================================== */
@import "./include/foundation";

/* =============================================================== */
/* st */
/* =============================================================== */
@import "./include/st";

/* =============================================================== */
/* sw */
/* =============================================================== */
@import "./include/sw";

.idx-Slider {
  position: fixed;
  z-index: 2;
  top: 20px;
  right: 20px;
  &_Text {
    margin: 16px 0 0 0;
    color: #546E7A;
    @include font-size(14);
    letter-spacing: 0.025em;
    text-align: center;
  }
}
