@charset "utf-8";

/* =============================================================== */
/* reset */
/* =============================================================== */
@import "../include/reset";

/* =============================================================== */
/* reset */
/* =============================================================== */
@import "../include/mixin";

/* =============================================================== */
/* foundation */
/* =============================================================== */
@import "../include/foundation";

/* =============================================================== */
/* variable */
/* =============================================================== */
@import "../include/variable";

/* =============================================================== */
/* st */
/* =============================================================== */
@import "../include/st";

/* =============================================================== */
/* sw */
/* =============================================================== */
@import "../include/sw";



/* =============================================================== */
/* .new-Archive */
/* =============================================================== */
.new-Archive {
  position: relative;
  z-index: 1;
  @include mediaQuery(min, 1024, 0){
    padding: 120px 0 0 0;
  }
  @include mediaQuery(max, 0, 1023){
    padding: (256 / 1024) * 100vw 0 0 0;
  }
  &_Box {
    margin: 0 auto;
    @include mediaQuery(min, 1024, 0){
      width: 1000px;
    }
    @include mediaQuery(max, 0, 1023){
      width: 100%;
    }
  }
}



/* =============================================================== */
/* .new-Detail */
/* =============================================================== */
// .new-Detail {
//   position: relative;
//   z-index: 1;
//   @include mediaQuery(min, 1024, 0){
//     padding: 120px 0 0 0;
//   }
//   @include mediaQuery(max, 0, 1023){
//     padding: (160 / 1024) * 100vw 0 0 0;
//   }
//   &_Box {
//     margin: 0 auto;
//     @include mediaQuery(min, 1024, 0){
//       width: 1000px;
//     }
//     @include mediaQuery(max, 0, 1023){
//       width: 100%;
//     }
//     &_Content {
//       color: $color-gray;
//       @include mediaQuery(min, 1024, 0){
//         margin: 40px auto 0;
//         width: 800px;
//       }
//       @include mediaQuery(max, 0, 1023){
//         margin: (64 / 768) * 100vw auto 0;
//         width: (672 / 768) * 100vw;
//       }
//       .Content_Title {
//         font-weight: 500;
//         letter-spacing: 0.05em;
//         line-height: 1.5;
//         @include mediaQuery(min, 1024, 0){
//           @include font-size(20);
//         }
//         @include mediaQuery(max, 0, 1023){
//           font-size: (36 / 768) * 100vw;
//         }
//       }
//       .Content_Date {
//         @include font-family-en;
//         letter-spacing: 0.0625em;
//         @include mediaQuery(min, 1024, 0){
//           margin: 16px 0 0 0;
//           font-size: 12px;
//         }
//         @include mediaQuery(max, 0, 1023){
//           margin: 3.125vw 0 0 0;
//           font-size: (28 / 768) * 100vw;
//         }
//       }
//       .Content_Thumbnail {
//         overflow: hidden;
//         @include mediaQuery(min, 1024, 0){
//           margin: 28px 0 0 0;
//           border-radius: 4px;
//         }
//         @include mediaQuery(max, 0, 1023){
//           margin: 4.6875vw 0 0 0;
//           border-radius: (8 / 768) * 100vw;
//         }
//       }
//       .Content_Text {
//         @include mediaQuery(min, 1024, 0){
//           margin: 64px 0 0 0;
//         }
//         @include mediaQuery(max, 0, 1023){
//           margin: 9.375vw 0 0 0;
//         }
//         h4 {
//           color: $color-white;
//           background-color: $color-gray;
//           line-height: 2;
//           letter-spacing: 0.05em;
//           @include mediaQuery(min, 1024, 0){
//             padding: 12px 16px;
//             font-size: 16px;
//             border-radius: 4px;
//           }
//           @include mediaQuery(max, 0, 1023){
//             padding: 2.625vw 3.125vw;
//             font-size: (28 / 768) * 100vw;
//             border-radius: (8 / 768) * 100vw;
//           }
//         }
//         h5 + h4, p + h4, .Content_Text_List + h4 {
//           @include mediaQuery(min, 1024, 0){
//             margin: 52px 0 0 0;
//           }
//           @include mediaQuery(max, 0, 1023){
//             margin: 9.375vw 0 0 0;
//           }
//         }
//         h5 {
//           display: inline-block;
//           line-height: 2;
//           letter-spacing: 0.05em;
//           position: relative;
//           @include mediaQuery(min, 1024, 0){
//             padding: 2px 0 2px 16px;
//             font-size: 16px;
//           }
//           @include mediaQuery(max, 0, 1023){
//             padding: 1.0625vw 0 1.0625vw 3.125vw;
//             font-size: (28 / 768) * 100vw;
//           }
//           &::before {
//             content: "";
//             display: block;
//             background-color: $color-gray;
//             height: 100%;
//             position: absolute;
//             top: 50%;
//             left: 0;
//             transform: translateY(-50%);
//             @include mediaQuery(min, 1024, 0){
//               width: 4px;
//               border-radius: 4px;
//             }
//             @include mediaQuery(max, 0, 1023){
//               width: 2px;
//               border-radius: (8 / 768) * 100vw;
//             }
//           }
//         }
//         h4 + h5, p + h5 {
//           @include mediaQuery(min, 1024, 0){
//             margin: 24px 0 0 0;
//           }
//           @include mediaQuery(max, 0, 1023){
//             margin: 5.1875vw 0 0 0;
//           }
//         }
//         p {
//           line-height: 2;
//           letter-spacing: 0.05em;
//           @include mediaQuery(min, 1024, 0){
//             font-size: 16px;
//           }
//           @include mediaQuery(max, 0, 1023){
//             font-size: (28 / 768) * 100vw;
//           }
//         }
//         h4 + p, h5 + p, p + p {
//           @include mediaQuery(min, 1024, 0){
//             margin: 16px 0 0 0;
//           }
//           @include mediaQuery(max, 0, 1023){
//             margin: 4.1875vw 0 0 0;
//           }
//         }
//         &_List {
//           @include mediaQuery(min, 1024, 0){
//             margin: 16px 0 0 0;
//           }
//           @include mediaQuery(max, 0, 1023){
//             margin: 0 0 0 0;
//           }
//           &_Item {
//             p {
//               padding-left: 1em;
//               text-indent: -1em;
//             }
//           }
//         }
//       }
//     }
//   }
// }
