extends include/_layout
block meta
  - meta = {}
  - meta.title = 'Portfolio | motttunn.com'
  - meta.description = 'web制作に関する備忘録およびポートフォリオサイトです。'
  - meta.url = 'https://motttunn.com/portfolio/'
  - meta.img = 'https://motttunn.com/wp/wp-content/themes/motttunn/assets/images/common/ogp.png'
block config
  - config = {}
  - config.pathTemplate = '<?php echo get_template_directory_uri(); ?>/'
  - config.pathHome = '<?php echo home_url(); ?>/'
  - config.hash = Math.floor(Math.random() * (9999999 - 1000000)) + 1000000;
block css
  link(rel="stylesheet" href!=config.pathTemplate + "assets/css/portfolio/style.css?hash=" + config.hash)
block js
  script(src!=config.pathTemplate + "assets/js/lib.min.js?hash=" + config.hash)
  script(src!=config.pathTemplate + "assets/js/portfolio/app.bundle.js?hash=" + config.hash)
block content
  div.st-Container
    |
    | <?php get_header(); ?>
    section.por-Archive
      div.por-Archive_Box
        h2.sw-Title
          a(href!=config.pathHome + "portfolio/")
            | Portfolio
        div.st-Works.st-Works-News
          ul.st-Works_List
            | <?php
            |   $work_count = 0;
            |   $work_class = 'st-Works_List_Item-Left';
            |   $work_paged = get_query_var('paged', 1);
            |   $work_args  = array('paged' => $work_paged, 'post_type' => 'portfolio', 'posts_per_page' => 8);
            |   $work_query = new WP_Query($work_args);
            |   if($work_query->have_posts()):
            |   while($work_query->have_posts()): $work_query->the_post();
            |   if($work_count%2 !== 0):
            |   $work_class = 'st-Works_List_Item-Right';
            |   endif;
            |   $work_count++;
            | ?>
            li.st-Works_List_Item(class!="<?php echo $work_class; ?>")
              a.Item-Anchor(href!="<?php the_permalink(); ?>")
                figure.st-Works_List_Item_Thumbnail.Item_Thumbnail
                  | <?php the_post_thumbnail(); ?>
                div.Item_Description
                  div.Item_Description_Box
                    h3.Item_Description_Box_Title
                      | <?php
                      |   if(mb_strlen(get_the_title(), 'UTF-8')>24){
                      |       $work_title = mb_substr(get_the_title(), 0, 24, 'UTF-8');
                      |       echo $work_title . '…';
                      |   } else {
                      |       echo get_the_title();
                      |   }
                      | ?>
                    p.Item_Description_Box_Text
                      | <?php
                      |   if(mb_strlen(get_the_content(), 'UTF-8')>72){
                      |       $work_content = mb_substr(get_the_content(), 0, 72, 'UTF-8');
                      |       echo $work_content . '…';
                      |   } else {
                      |       echo get_the_content();
                      |   }
                      | ?>
            | <?php
            |   endwhile;
            |   endif;
            | ?>
        div.st-Pagenation.st-Pagenation-Portfolio
          | <?php
          |   wp_pagenavi(array('query' => $work_query));
          | ?>
    |
    | <?php get_footer(); ?>
