header.st-Header
  a.st-Header_Logo(href!="<?php echo home_url(); ?>/")
    img(src!="<?php echo get_template_directory_uri(); ?>/assets/images/common/logo.png" width="200" height="40")
  button#st-Header_Button.st-Header_Button
    | Menu
  nav#st-Header_Nav.st-Header_Nav.st-Header_Nav-Hidden
    ul.st-Header_Nav_List
      li#st-Header_Nav_List_Item-Close.st-Header_Nav_List_Item.st-Header_Nav_List_Item-Close.sp_b
        button.Item-Anchor
          | × Close
      li.st-Header_Nav_List_Item(class!="<?php if(is_home()){ echo 'st-Header_Nav_List_Item-Current'; } ?>")
        a.Item-Anchor(href!="<?php echo home_url(); ?>/")
          | Home
      li.st-Header_Nav_List_Item(class!="<?php if(is_page('news') || is_singular('post')){ echo 'st-Header_Nav_List_Item-Current'; } ?>")
        a.Item-Anchor(href!="<?php echo home_url(); ?>/news/")
          | News
      li.st-Header_Nav_List_Item(class!="<?php if(is_post_type_archive('portfolio') || is_singular('portfolio')){ echo 'st-Header_Nav_List_Item-Current'; } ?>")
        a.Item-Anchor(href!="<?php echo home_url(); ?>/portfolio/")
          | Portfolio
