extends include/_layout
block meta
  - meta = {}
  - meta.title = 'motttunn.com'
  - meta.description = 'web制作に関する備忘録およびポートフォリオサイトです。'
  - meta.url = 'https://motttunn.com'
  - meta.img = ''
block config
  - config = {}
  - config.pathTemplate = '<?php echo get_template_directory_uri(); ?>/'
  - config.pathHome = '<?php echo home_url(); ?>/'
  - config.hash = Math.floor(Math.random() * (9999999 - 1000000)) + 1000000;
block css
  link(rel="stylesheet" href!=config.pathTemplate + "assets/css/index/lib.min.css?hash=" + config.hash)
  link(rel="stylesheet" href!=config.pathTemplate + "assets/css/index/style.css?hash=" + config.hash)
block js
  script(src!=config.pathTemplate + "assets/js/index/lib.min.js?hash=" + config.hash)
  script(src!=config.pathTemplate + "assets/js/index/app.bundle.js?hash=" + config.hash)
block content
  div.st-Container
    |
    | <?php get_header(); ?>
    //- div#idx-Loading.idx-Loading
      div.idx-Loading_Child.idx-Loading_Child-01
      div.idx-Loading_Child.idx-Loading_Child-02
      div.idx-Loading_Child.idx-Loading_Child-03
      div.idx-Loading_Child.idx-Loading_Child-04
      div.idx-Loading_Child.idx-Loading_Child-05
    main.idx-Main
      div.idx-Main_Slider
        ul#idx-Main_Slider_List.idx-Main_Slider_List
          | <?php
          |   $main_args  = array('post_type' => array('post', 'portfolio'), 'posts_per_page' => 4);
          |   $main_query = new WP_Query($main_args);
          |   if($main_query->have_posts()):
          |   while($main_query->have_posts()): $main_query->the_post();
          |   $main_item_type = get_post_type();
          | ?>
          li.idx-Main_Slider_List_Item
            a.Item-Anchor(href!="<?php the_permalink(); ?>")
              figure.Item_Thumbnail
                | <?php the_post_thumbnail(); ?>
              div.Item_Info
                p.Item_Info_Description
                  | <?php the_time('Y.m.d'); ?>
                  |  / 
                  | <?php 
                  |   if($main_item_type == 'post'):
                  |   echo 'News';
                  |   elseif ($main_item_type == 'portfolio'):
                  |   echo 'Portfolio';
                  |   endif;
                  | ?>
                p.Item_Info_Title
                  | <?php
                  |   if(mb_strlen(get_the_title(), 'UTF-8')>42){
                  |       $main_title = mb_substr(get_the_title(), 0, 42, 'UTF-8');
                  |       echo $main_title . '…';
                  |   } else {
                  |       echo get_the_title();
                  |   }
                  | ?>
          | <?php
          |   endwhile;
          |   endif;
          | ?>
          //- li.idx-Main_Slider_List_Item
          //-   a.Item-Anchor(href!="#" target="_blank")
          //-     img.Item_Thumbnail(src!=config.pathTemplate + "assets/images/common/thumb-sample01.jpg" width="800" height="450")
          //- li.idx-Main_Slider_List_Item
          //-   a.Item-Anchor(href!="#" target="_blank")
          //-     img.Item_Thumbnail(src!=config.pathTemplate + "assets/images/common/thumb-sample02.jpg" width="800" height="450")
          //- li.idx-Main_Slider_List_Item
          //-   a.Item-Anchor(href!="#" target="_blank")
          //-     img.Item_Thumbnail(src!=config.pathTemplate + "assets/images/common/thumb-sample03.jpg" width="800" height="450")
    section.idx-News
      div.idx-News_Box
        h2.sw-Title
          span
            | News
        div.st-Posts.st-Posts-Index
          ul.st-Posts_List
            | <?php
            |   $post_args  = array('post_type' => 'post', 'posts_per_page' => 6);
            |   $post_query = new WP_Query($post_args);
            |   if($post_query->have_posts()):
            |   while($post_query->have_posts()): $post_query->the_post();
            | ?>
            li.st-Posts_List_Item
              a.Item-Anchor(href!="<?php the_permalink(); ?>")
                p.Item_Date
                  | <?php the_time('Y.m.d'); ?>
                figure.Item_Thumbnail
                  | <?php the_post_thumbnail(); ?>
                h3.Item_Title
                  | <?php
                  |   if(mb_strlen(get_the_title(), 'UTF-8')>42){
                  |       $post_title = mb_substr(get_the_title(), 0, 42, 'UTF-8');
                  |       echo $post_title . '…';
                  |   } else {
                  |       echo get_the_title();
                  |   }
                  | ?>
            | <?php
            |   endwhile;
            |   endif;
            | ?>
    section.idx-Portfolio
      div.idx-Portfolio_Box
        h2.sw-Title
          span
            | Portfolio
        div.st-Works.st-Works-Index
          ul.st-Works_List
            | <?php
            |   $work_args  = array('post_type' => 'portfolio', 'posts_per_page' => 4);
            |   $work_query = new WP_Query($work_args);
            |   if($work_query->have_posts()):
            |   while($work_query->have_posts()): $work_query->the_post();
            | ?>
            li.st-Works_List_Item.st-Works_List_Item-Left
              a.Item-Anchor(href!="<?php the_permalink(); ?>")
                figure.st-Works_List_Item_Thumbnail.Item_Thumbnail
                  | <?php the_post_thumbnail(); ?>
                div.Item_Description
                  div.Item_Description_Box
                    h3.Item_Description_Box_Title
                      | <?php
                      |   if(mb_strlen(get_the_title(), 'UTF-8')>24){
                      |       $work_title = mb_substr(get_the_title(), 0, 24, 'UTF-8');
                      |       echo $work_title . '…';
                      |   } else {
                      |       echo get_the_title();
                      |   }
                      | ?>
                    p.Item_Description_Box_Text
                      | <?php
                      |   if(mb_strlen(get_the_content(), 'UTF-8')>72){
                      |       $work_content = mb_substr(get_the_content(), 0, 72, 'UTF-8');
                      |       echo $work_content . '…';
                      |   } else {
                      |       echo get_the_content();
                      |   }
                      | ?>
            | <?php
            |   endwhile;
            |   endif;
            | ?>
          //- ul.st-Works_List
            li.st-Works_List_Item.st-Works_List_Item-Left
              a.Item-Anchor(href!="#")
                figure.st-Works_List_Item_Thumbnail.Item_Thumbnail
                div.Item_Description
                  div.Item_Description_Box
                    h3.Item_Description_Box_Title
                      | Diamond
                    p.Item_Description_Box_Text
                      | WebGLを使用して、ダイヤモンドを描画。
            li.st-Works_List_Item.st-Works_List_Item-Right
              a.Item-Anchor(href!="#")
                figure.st-Works_List_Item_Thumbnail.Item_Thumbnail
                div.Item_Description
                  div.Item_Description_Box
                    h3.Item_Description_Box_Title
                      | Cylinder
                    p.Item_Description_Box_Text
                      | WebGLを使用して、円柱を描画。
    section.idx-About
      div.idx-About_Box
        div.idx-About_Box_Introduction
          h2.sw-Title
            span
              | Introduction
          p.idx-About_Box_Introduction_Text
            | web制作に関する備忘録およびポートフォリオサイトです。
            br.pc_i
            | 運営している人間は粉物とビールが大好きな20歳児。
            br.pc_i
            | 趣味は読書とゲーム(splatoon2)。
          p.idx-About_Box_Introduction_Text
            | 抽象的ではありますが、
            br.pc_i
            | もっとクリエイティブなweb制作を仕事にしたいという気持ちがあり、
            br.pc_i
            | 現在転職活動中です。
        div.idx-About_Box_Links
          h2.sw-Title
            span
              | Links
          a.idx-About_Box_Links_Button(href!="#" target="_blank")
            | GitHub
          a.idx-About_Box_Links_Button(href!="#" target="_blank")
            | Twitter
    |
    | <?php get_footer(); ?>
