extends include/_layout
block meta
  - meta = {}
  - meta.title = 'News | motttunn.com'
  - meta.description = 'web制作に関する備忘録およびポートフォリオサイトです。'
  - meta.url = 'https://motttunn.com/news/'
  - meta.img = ''
block config
  - config = {}
  - config.pathTemplate = '<?php echo get_template_directory_uri(); ?>/'
  - config.pathHome = '<?php echo home_url(); ?>/'
  - config.hash = Math.floor(Math.random() * (9999999 - 1000000)) + 1000000;
block css
  link(rel="stylesheet" href!=config.pathTemplate + "assets/css/news/style.css?hash=" + config.hash)
block js
  script(src!=config.pathTemplate + "assets/js/news/app.bundle.js?hash=" + config.hash)
block content
  div.st-Container
    |
    | <?php get_header(); ?>
    section.new-Archive
      div.new-Archive_Box
        h2.sw-Title
          span
            | News
        div.st-Posts.st-Posts-Index
          ul.st-Posts_List
            li.st-Posts_List_Item
              a.Item-Anchor(href!="#")
                p.Item_Date
                  | 2019.00.00
                img.Item_Thumbnail
                h3.Item_Title
                  | テキスト1テキスト2テキスト3テキスト4テキスト5テキスト1テキスト2テキスト3テキスト4
            li.st-Posts_List_Item
              a.Item-Anchor(href!="#")
                p.Item_Date
                  | 2019.00.00
                img.Item_Thumbnail
                h3.Item_Title
                  | テキスト1テキスト2テキスト3テキスト4テキスト5テキスト1テキスト2テキスト3テキスト4
            li.st-Posts_List_Item
              a.Item-Anchor(href!="#")
                p.Item_Date
                  | 2019.00.00
                img.Item_Thumbnail
                h3.Item_Title
                  | テキスト1テキスト2テキスト3テキスト4テキスト5テキスト1テキスト2テキスト3テキスト4
            li.st-Posts_List_Item
              a.Item-Anchor(href!="#")
                p.Item_Date
                  | 2019.00.00
                img.Item_Thumbnail
                h3.Item_Title
                  | テキスト1テキスト2テキスト3テキスト4テキスト5テキスト1テキスト2テキスト3テキスト4
            li.st-Posts_List_Item
              a.Item-Anchor(href!="#")
                p.Item_Date
                  | 2019.00.00
                img.Item_Thumbnail
                h3.Item_Title
                  | テキスト1テキスト2テキスト3テキスト4テキスト5テキスト1テキスト2テキスト3テキスト4
            li.st-Posts_List_Item
              a.Item-Anchor(href!="#")
                p.Item_Date
                  | 2019.00.00
                img.Item_Thumbnail
                h3.Item_Title
                  | テキスト1テキスト2テキスト3テキスト4テキスト5テキスト1テキスト2テキスト3テキスト4
    |
    | <?php get_footer(); ?>
