extends include/_layout
block meta
  - meta = {}
  - meta.title = 'News | motttunn.com'
  - meta.description = 'web制作に関する備忘録およびポートフォリオサイトです。'
  - meta.url = 'https://motttunn.com/news/'
  - meta.img = ''
block config
  - config = {}
  - config.pathTemplate = '<?php echo get_template_directory_uri(); ?>/'
  - config.pathHome = '<?php echo home_url(); ?>/'
  - config.hash = Math.floor(Math.random() * (9999999 - 1000000)) + 1000000;
block css
  link(rel="stylesheet" href!=config.pathTemplate + "assets/css/news/style.css?hash=" + config.hash)
block js
  script(src!=config.pathTemplate + "assets/js/lib.min.js?hash=" + config.hash)
  script(src!=config.pathTemplate + "assets/js/news/app.bundle.js?hash=" + config.hash)
block content
  div.st-Container
    |
    | <?php get_header(); ?>
    section.new-Archive
      div.new-Archive_Box
        h2.sw-Title
          span
            | News
        div.st-Posts.st-Posts-News
          ul.st-Posts_List
            | <?php
            |   $post_paged = get_query_var('paged', 1);
            |   $post_args  = array('paged' => $post_paged, 'post_type' => 'post', 'posts_per_page' => 12);
            |   $post_query = new WP_Query($post_args);
            |   if($post_query->have_posts()):
            |   while($post_query->have_posts()): $post_query->the_post();
            | ?>
            li.st-Posts_List_Item
              a.Item-Anchor(href!="<?php the_permalink(); ?>")
                p.Item_Date
                  | <?php the_time('Y.m.d'); ?>
                figure.Item_Thumbnail
                  | <?php the_post_thumbnail(); ?>
                h3.Item_Title
                  | <?php
                  |   if(mb_strlen(get_the_title(), 'UTF-8')>42){
                  |       $post_title = mb_substr(get_the_title(), 0, 42, 'UTF-8');
                  |       echo $post_title . '…';
                  |   } else {
                  |       echo get_the_title();
                  |   }
                  | ?>
            | <?php
            |   endwhile;
            |   endif;
            | ?>
        div.st-Pagenation
          | <?php
          |   wp_pagenavi(array('query' => $post_query));
          | ?>
    |
    | <?php get_footer(); ?>
