extends include/_layout
block meta
  - meta = {}
  - meta.title = ''
  - meta.keywords = ''
  - meta.description = ''
  - meta.url = ''
  - meta.img = ''
block config
  - config = {}
  - config.pathTemplate = '<?php echo get_template_directory_uri(); ?>/'
  - config.pathHome = '<?php echo home_url(); ?>/'
  - config.hash = Math.floor(Math.random() * (9999999 - 1000000)) + 1000000;
block css
  link(rel="stylesheet" href!=config.pathTemplate + "assets/css/style.css?hash=" + config.hash)
block js
  script(src!=config.pathTemplate + "assets/js/bundle.js?hash=" + config.hash)
block content
  div.st-Container
    p
      | Hi!
