extends include/_layout
block meta
  | <?php
  |   if(have_posts()):
  |   while(have_posts()): the_post();
  |   $post_meta_desc      = esc_html(get_the_excerpt());
  |   $post_meta_thumb_id  = get_post_thumbnail_id();
  |   $post_meta_thumb_url = wp_get_attachment_image_src($post_meta_thumb_id, true);
  |   $post_meta_thumb_url = esc_url($post_meta_thumb_url[0]);
  |   endwhile;
  |   endif;
  | ?>
  |
  - meta = {}
  - meta.title = '<?php the_title(); ?> | Portfolio | motttunn.com'
  - meta.description = '<?php echo $post_meta_desc; ?>'
  - meta.url = 'https://motttunn.com/portfolio/'
  - meta.img = 'https://motttunn.com/wp/wp-content/themes/motttunn/assets/images/common/ogp.png'
block config
  - config = {}
  - config.pathTemplate = '<?php echo get_template_directory_uri(); ?>/'
  - config.pathHome = '<?php echo home_url(); ?>/'
  - config.hash = Math.floor(Math.random() * (9999999 - 1000000)) + 1000000;
block css
  link(rel="stylesheet" href!=config.pathTemplate + "assets/css/portfolio/style.css?hash=" + config.hash)
block js
  script(src!=config.pathTemplate + "assets/js/lib.min.js?hash=" + config.hash)
  script(src!=config.pathTemplate + "assets/js/portfolio/app.bundle.js?hash=" + config.hash)
block content
  div.st-Container
    |
    | <?php get_header(); ?>
    section.st-Detail
      div.st-Detail_Box
        h2.sw-Title
          a(href!=config.pathHome + "portfolio/")
            | Portfolio
        div.st-Detail_Box_Content
          h3.Content_Title
            | <?php the_title(); ?>
          p.Content_Date
            | <?php the_field('portfolio_date'); ?>
          figure.Content_Thumbnail
            | <?php the_post_thumbnail(); ?>
          div.Content_Link
            ul.Content_Link_List
              li.Content_Link_List_Item.Content_Link_List_Item-Page
                a.Item_Button(href!="<?php the_field('portfolio_url_page'); ?>" target="_blank")
                  | Page
              li.Content_Link_List_Item.Content_Link_List_Item-Github
                a.Item_Button(href!="<?php the_field('portfolio_url_github'); ?>" target="_blank")
                  | Github
          div.Content_Text
            | <?php the_content(); ?>
            h4
              | 頑張ったポイント
            ul.Content_Text_List
              | <?php
              |   $good_text  = get_field('portfolio_point_good');
              |   $good_array = explode("\n", $good_text);
              |   $good_array = array_map('trim', $good_array);
              |   $good_array = array_filter($good_array, 'strlen');
              |   $good_array = array_values($good_array);
              |   foreach($good_array as $good_item):
              |   echo '<li class="Content_Text_List_Item"><p>・' . $good_item . '</p></li>';
              |   endforeach;
              | ?>
            h4
              | 改善が必要なポイント
            ul.Content_Text_List
              | <?php
              |   $bad_text  = get_field('portfolio_point_bad');
              |   $bad_array = explode("\n", $bad_text);
              |   $bad_array = array_map('trim', $bad_array);
              |   $bad_array = array_filter($bad_array, 'strlen');
              |   $bad_array = array_values($bad_array);
              |   foreach($bad_array as $bad_item):
              |   echo '<li class="Content_Text_List_Item"><p>・' . $bad_item . '</p></li>';
              |   endforeach;
              | ?>
          div.Content_PrevNext
            | <?php
            |   $item_current = get_the_permalink();
            |   $item_prev    = get_permalink(get_adjacent_post(false, '', true));
            |   $item_next    = get_permalink(get_adjacent_post(false, '', false));
            |   if($item_prev !== $item_current):
            | ?>
            a.Content_PrevNext_Prev(href!="<?php echo $item_prev; ?>")
              | <<　Prev
            | <?php endif; if($item_next !== $item_current): ?>
            a.Content_PrevNext_Next(href!="<?php echo $item_next; ?>")
              | Next　>>
            | <?php endif; ?>
              
    |
    | <?php get_footer(); ?>
