@charset "utf-8";

/* =============================================================== */
/* reset */
/* =============================================================== */
@import "./include/reset";

/* =============================================================== */
/* reset */
/* =============================================================== */
@import "./include/mixin";

/* =============================================================== */
/* foundation */
/* =============================================================== */
@import "./include/foundation";

/* =============================================================== */
/* st */
/* =============================================================== */
@import "./include/st";

/* =============================================================== */
/* sw */
/* =============================================================== */
@import "./include/sw";

.st-Container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.idx-Movie {
  width: 100vw;
  height: 100vh;
  position: relative;
  &_Video {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

canvas {
  position: relative;
  z-index: 2;
}
